body{
	background-color:#144c79;
	text-align: center;
	margin:0;
}

header,div,footer{
	float: left;
	box-siging:border-box;
}
header{
	background-color:#3babec;
	width: 100%;
	padding:0em 1em;
	box-sizing:border-box;
}
header > h1{
	color:gold;
	font-size: 3em;
}
div{
	width: 100%;
}
div > h1{
	position: relative;
	color:#f36517;
	font-size:3em;
	top:1.5em;

}
footer{
	position: relative;
	top:10em;
	width: 100%;
	background-color:#222;
	height:25.7em;
}
img[name="gerson"]{
	width:10%;
	border-radius:100%;
	min-width:100px;
	max-height: 140px;
}
footer > h1{
	color:white;
	font-style:oblique;
	font-family: arial;
}
footer > img{
	width:20%;
	min-width:180px;
	max-height: 180px;
	cursor:pointer;
}